<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What is the Tech Festival?</h2>
                <hr class="light">
                <p class="text-faded">An unforgettable 4 days of technology, learning, and community building.</p>
                <p class="text-faded">Why? <br> We want to provide a platform for students where they can apply their knowledge, learn new skills, and meet others aspiring technologists.</p>
                <p class="text-faded">How? <br> We want to provide a platform for students where they can apply their knowledge, learn new skills, and meet others aspiring technologists.</p>
            </div>
        </div>
    </div>
</section>
