<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About the hackathon?</h2>
                <hr class="light">
                <p class="text-faded">As students, we often feel that we learn an abundant amount of knowledge during our time in college. However, oftentimes there is a gap between having the knowledge and then knowing how to apply it correctly. To determine if it was just us or a common problem, we conducted a survey at Queens College to test out our hypothesis. We surveyed current students and alumni totalling up to 1500 people. Over 92% of the surveyed people said  they wished they had a place where they could apply their knowledge and hear from current industry professionals.</p>
                <p class="text-faded">That was it—our ‘Ahhhhh’ moment. And hence came the ‘Tech Festival.’ The Tech Festival will be a four day festival exposing students to various technologies. The Tech Festival will not only give its attendees a platform where they can apply their knowledge, but will also enable students to build their skill-set over the course of the duration of the festival. In the long run, which will help students identify how can they better complement the education they receive while in college.
                </p>
                <a href="https://bit.ly/techfestival19_registration" target="_blank" class="btn btn-red btn-xl page-scroll">Apply Now</a>
            </div>
        </div>
    </div>
</section>
