<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About</h2>
                <hr class="light">
                <p class="text-light" data-wow-delay=".1s">The Tech Festival will be a time for students all across the United States to come together, meet and collaborate with other students and technologists, to solve problems using technology. The Tech Festival will feature various events, ranging from Tech Panels to Hackathons.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-users wow bounceIn text-light"></i>
                    <h3>DAY 1</h3>
                    <p class="text">Panels & Networking</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-microphone wow bounceIn text-light" data-wow-delay=".1s"></i>
                    <h3>DAY 2</h3>
                    <p class="text">Technology Conference</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-laptop-code wow bounceIn text-light" data-wow-delay=".2s"></i>
                    <h3>DAY 3</h3>
                    <p class="text">24-Hour Hackathon</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-certificate wow bounceIn text-light" data-wow-delay=".3s"></i>
                    <h3>DAY 4</h3>
                    <p class="text">Closing & Talent Showcase</p>
                </div>
            </div>
        </div>
    </div>
</section>

