<section class="bg-primary" id="faq">
    <div class="container">
        <div class="row">
            <div class="">
                <h2 class="section-heading text-center">FAQ!</h2>
                <hr class="light">
                <div class="col-lg-6">
                    <h3>What is a Hackathon?</h3>
                    <p class="text-faded wow fadeInUp" data-wow-delay=".3s">
                        A Hackathon is a time where people from different backgrounds come together and solve a problem with Technology.</p>
                </div>
                <div class="col-lg-6">
                    <h3>Who can attend?</h3>
                    <p class="text-faded wow fadeInUp" data-wow-delay=".3s">
                        Everyone is allowed to participate in the Hackathon. Please have a state ID with you on the day of the Event. If you are a shortlisted candidate for the scholarship, please carry your valid photo ID as well.
                    </p>
                </div>
                <div class="col-lg-6">
                    <h3>What if I am a High School or Middle School student?</h3>
                    <p class="text-faded wow fadeInUp" data-wow-delay=".3s">
                        If you are a Middle school student interested in participating, please join us on Thursday, April 4, 2019 and Friday, April 5, 2019 for the Talks and the Conference. Unfortunately, we cannot have you to hack with us overnight.<br>
                        If you are a High School student, you can hack with us. However, we will need a copy of a waiver - signed by your legal guardian.
                    </p>
                </div>
                <div class="col-lg-6">
                    <h3>How can I apply?</h3>
                    <p class="text-faded wow fadeInUp" data-wow-delay=".3s">
                        Hit the Apply button on the <a href="../" class="text-faded" style="text-decoration: underline;">Tech Festival</a> page, or go to: bit.ly/techfestival19_registration
                    </p>
                </div>
                <div class="col-lg-6">
                    <h3>What is the deadline to apply? When will I hear back?</h3>
                    <p class="text-faded wow fadeInUp" data-wow-delay=".3s">
                        Priority application: If you apply between February 5 and February 28, you will hear back by March 6<br>
                        Round 1: If you apply between February 28 and March 15, you will hear back by March 20<br>
                        Round 2: If you apply between March 15 and March 28, you will hear back by April 2<br>
                    </p>
                </div>
                <div class="col-lg-6">
                    <h3>Are there any travel reimbursements?</h3>
                    <p class="text-faded wow fadeInUp" data-wow-delay=".3s">
                        Unfortunately at this time, we are not providing any travel reimbursements for the hackathon. Please check back later to see if there are any advancements. However, the first 400 people to get accepted are guaranteed a sleeping bag - if they stay overnight.
                    </p>
                </div>
                <div class="col-lg-6">
                    <h3>Do I need a team to participate?</h3>
                    <p class="text-faded wow fadeInUp" data-wow-delay=".3s">
                        Absolutely not! There will be time for you to find your dream team.
                    </p>
                </div>
                <div class="col-lg-6">
                    <h3>What if I don't have any coding experience?</h3>
                    <p class="text-faded wow fadeInUp" data-wow-delay=".3s">
                        Not a problem! We want to help you get started, and we'll have beginner-focused workshops all day just for that. Even if you don't have any coding background, you'll learn and create a project by the end of the night! All you need to bring is a laptop.
                    </p>
                </div>
                <div class="col-lg-6">
                    <h3>Will there be room for sleeping?</h3>
                    <p class="text-faded wow fadeInUp" data-wow-delay=".3s">
                        Absolutely yes!!!!! However, please bring your own sleeping bags and pillows.
                    </p>
                </div>
                <div class="col-lg-6">
                    <h3>What do I need to bring?</h3>
                    <p class="text-faded wow fadeInUp" data-wow-delay=".3s">
                      You need to bring your state ID, college/school ID, a laptop + charger, and anything you may need to for sleeping. We will be providing food all day Saturday and Sunday.<br>
                      Note: Kosher food will be served only Saturday night, and Sunday morning. If you do eat Kosher food, you will be responsible for arranging your own meals for Saturday Breakfast and Lunch.
                    </p>
                </div>
                <div class="col-lg-6">
                    <h3>How to get to Queens College?</h3>
                    <p class="text-faded wow fadeInUp" data-wow-delay=".3s">
                        <span style="font-size: 1.3em;">If you are driving:</span><br>
                        Note, parking lots 5 & 14 (the reserved parking lots for the event) are located behind the Summit Residence. As a suggestion, guests should use the Main Street exit off the Long Island Expressway and enter campus through Gate 3 located on Reeves Avenue and 153rd Street.<br>
                        <span style="font-size: 1.3em;">Taking public transportation:</span><br>
                        Take the Q88 to Horace Harding Exp & 153 Bus stop;<br>
                        Take the 7 to Flushing Main Street, and take the Q34/Q25 towards Jamaica and get off in front of Queens College Kissena/Melbourne Avenue;<br>
                        Take the E/F to Forest Hills and then take the Q64 to Kissena Blvd and walk to the Dining Hall.<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
