<section class="bg-primary" id="faq">
    <div class="container">
        <div class="row">
            <div class="">
                <h2 class="section-heading text-center">FAQ!</h2>
                <hr class="light">
                <div class="col-lg-6">
                    <h3>What is the Tech Festival?</h3>
                    <p class="text-faded wow fadeInUp" data-wow-delay=".3s">
                        The Tech Festival will feature student and professional panels, a technology conference, a 24 hour hackathon, and countless numbers of ways for students to learn about and prepare for careers in technology. The Festival will have events from Networking Panels to TEDx speakers to a 24-hour hackathon.
                    </p>
                </div>
                <div class="col-lg-6">
                    <h3>Who can attend?</h3>
                    <p class="text-faded wow fadeInUp" data-wow-delay=".3s">
                        Everyone is allowed to participate in the Hackathon. Please have a state ID with you on the day of the Event. And by everyone, we do mean everyone, from middle school students to industry professionals.
                    </p>
                </div>
                <div class="col-lg-6">
                    <h3>How will I know if I am registered?</h3>
                    <p class="text-faded wow fadeInUp" data-wow-delay=".3s">
                        Keep an eye out on your emails. We will be sending out bi-weekly emails to keep you all posted. If you have any questions, please don’t hesitate to <a href="#contact" class="text-faded page-scroll" style="text-decoration: underline;">contact us</a>.
                    </p>
                </div>
                <div class="col-lg-6">
                    <h3>Where will the Tech Festival be held?</h3>
                    <p class="text-faded wow fadeInUp" data-wow-delay=".3s">
                        The events will be happening primarily at Queens College this year, but we will be hosting some pop-up events across <a href="http://www2.cuny.edu/about/colleges-schools/" class="text-faded" target="_blank" style="text-decoration: underline;">ALL CUNY Campuses</a>. <a href="#contact" class="text-faded page-scroll" style="text-decoration: underline;">Follow us</a> on social media to learn more. As we get closer to the event, we will be sharing the exact locations and other logistical information.
                    </p>
                </div>
                <div class="col-lg-6">
                    <h3>How to get to Queens College?</h3>
                    <p class="text-faded wow fadeInUp" data-wow-delay=".3s">
                        <span style="font-size: 1.3em;">If you are driving:</span><br>
                        Note, parking lots 5 & 14 (the reserved parking lots for the event) are located behind the Summit Residence. As a suggestion, guests should use the Main Street exit off the Long Island Expressway and enter campus through Gate 3 located on Reeves Avenue and 153rd Street.<br>
                        <span style="font-size: 1.3em;">Taking public transportation:</span><br>
                        Take the Q88 to Horace Harding Exp & 153 Bus stop;<br>
                        Take the 7 to Flushing Main Street, and take the Q34/Q25 towards Jamaica and get off in front of Queens College Kissena/Melbourne Avenue;<br>
                        Take the E/F to Forest Hills and then take the Q64 to Kissena Blvd and walk to the Dining Hall.<br>
                    </p>
                </div>
                <div class="col-lg-6">
                    <h3>What does it cost to attend the event?</h3>
                    <p class="text-faded wow fadeInUp" data-wow-delay=".3s">
                        $0. The event is being sponsored by various sponsors, so that you don’t have to pay a dime!
                    </p>
                </div>
                <div class="col-lg-6">
                    <h3>Can I attend all days? Can I only come in for the conference?</h3>
                    <p class="text-faded wow fadeInUp" data-wow-delay=".3s">
                        Yes. And Yes.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
