<section class="bg-primary" id="faq">
    <div class="container">
        <div class="row">
            <div class="">
                <h2 class="section-heading text-center">FAQ!</h2>
                <hr class="light">
                <div class="col-lg-6">
                    <h3>What is a Hackathon?</h3>
                    <p class="text-faded wow fadeInUp" data-wow-delay=".1s">A Hackathon is a time where people from different backgrounds come together and solve a problem with Technology.</p>
                </div>
                <div class="col-lg-6">
                    <h3>Who can attend?</h3>
                    <p class="text-faded wow fadeInUp" data-wow-delay=".1s">Anyone can attend. Please have a state ID or some kind of ID with your photograph on it, with you on the day of the event.</p>
                </div>
                <div class="col-lg-6">
                    <h3>How can I register?</h3>
                    <p class="text-faded wow fadeInUp" data-wow-delay=".1s">Hit the RSVP button on the top, or go to: bit.ly/hackattackRegistration</p>
                </div>
                <div class="col-lg-6">
                    <h3>Do I need a team to participate?</h3>
                    <p class="text-faded wow fadeInUp" data-wow-delay=".1s">Absolutely not! There will be time for you to find your dream team.</p>
                </div>
                <div class="col-lg-6">
                    <h3>Are there any travel reimbursements?</h3>
                    <p class="text-faded wow fadeInUp" data-wow-delay=".1s">We are a new team of organizers hosting our first 24-hour Hackathon. Unfortunately at this time, we are not providing any travel reimbursements for the hackathon. Please check back later to see if there are any advancements.</p>
                </div>
                <div class="col-lg-6">
                    <h3>What if I don’t have any coding experience?</h3>
                    <p class="text-faded wow fadeInUp" data-wow-delay=".1s">Not a problem! We want to help you get started, and we’ll have beginner-focused workshops all day just for that. Even if you don’t have any coding background, you’ll learn and create a project by the end of the night! All you need to bring is a laptop.</p>
                </div>
                <div class="col-lg-6">
                    <h3>What do I need to bring?</h3>
                    <p class="text-faded wow fadeInUp" data-wow-delay=".1s">You need to bring your state ID, college ID, a laptop + charger, and anything you may need to for sleeping. We will be providing food all day Saturday and Sunday.
Note: Kosher food will be served only Saturday night, and Sunday morning. If you do eat Kosher food, you will be responsible for arranging your own meals for Saturday Breakfast and Lunch.</p>
                </div>
                <div class="col-lg-6">
                    <h3>Will there be room for sleeping?</h3>
                    <p class="text-faded wow fadeInUp" data-wow-delay=".1s">Absolutely yes!!!!! However, please bring your own sleeping bags and pillows.</p>
                </div>
                <div class="col-lg-6">
                    <h3>When are applications due?</h3>
                    <p class="text-faded wow fadeInUp" data-wow-delay=".1s">Anyone can attend. Please have a state ID or some kind of ID with your photograph on it, with you on the day of the event.</p>
                </div>
                <div class="col-lg-6">
                    <h3>Who can attend?</h3>
                    <p class="text-faded wow fadeInUp" data-wow-delay=".1s">Anyone can attend. Please have a state ID or some kind of ID with your photograph on it, with you on the day of the event.</p>
                </div>
            </div>
        </div>
    </div>
</section>
