<section class="bg-primary" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">FAQ!</h2>
                <hr class="light">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="text-faded">This part needs to be imported from http://www.hackattack2018.com/#about</p>
                </div>
            </div>
        </div>
    </div>
</section>
