<header class="header-front">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>[Need to replace with Tech Festival svg logo]</h1>
            <h3 class="typing-text"> Hello </h3>
            <hr>
            <p>Where students across New York City will come together,
              learn from other established and aspiring technologists,
              and solve problems using technology.
            </p>
            <p>
                <a href="https://bit.ly/techfestival19_registration" target="_blank" class="btn btn-red btn-xxl page-scroll">Apply Now</a>
            </p>
        </div>
    </div>
</header>
