<header class="header-front">
    <div class="header-content">
        <div class="header-content-inner">
            <h1><img src="/img/logo-single-line.png" class="img-responsive" alt="Tech Festival"></h1>
            <p class="header-date"> April 4 - 7, 2019 </p>
            <h3 class="typing-text"> Hello </h3>
            <hr>
            <p>Where students across New York City will come together,
              learn from other established and aspiring technologists,
              and solve problems using technology.
            </p>
            <span>
                <a href="https://hackattack-2019.devpost.com/submissions" target="_blank" class="btn btn-red btn-xxl page-scroll">View Winners</a>
            </span>
            <span>
                <a href="https://www.facebook.com/pg/techfestival19/photos/?tab=albums" target="_blank" class="btn btn-red btn-xxl page-scroll">Event Highlights</a>
            </span>
            <p class="page-scroll">
                More photos will be uploaded soon. See you next time!
            </p>
            <p class="page-scroll">
                Want to shape our next event?
            </p>
            <span>
                <a href="http://bit.ly/qchacksorg20" target="_blank" class="btn btn-primary btn-xxl page-scroll">Apply as Organizer</a>
            </span>
        </div>
    </div>
</header>
