<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Tech Festival</h1>
            <hr>
            <p>Where students across New York City will come together,
              learn from other established and aspiring technologists,
              and solve problems using technology.
            </p>
            <p>
                <a href="#" class="btn btn-red btn-xl page-scroll">Apply Now</a>
                <a href="#" class="btn btn-primary btn-xl page-scroll">Apply as Mentor</a>
                <a href="#" class="btn btn-primary btn-xl page-scroll">Apply as Volunteer</a>
            </p>
        </div>
    </div>
</header>
