<header class="header-hackathon">
    <div class="header-content">
        <div class="header-content-inner">
          <h1><img src="/img/hackattack-logo.png" class="img-responsive" alt="Tech Festival"></h1>
            <h3 class="typing-text"> Hello </h3>
            <hr>
            <p>Where students across New York City will come together,
              learn from other established and aspiring technologists,
              and solve problems using technology.
            </p>
        </div>
    </div>
</header>
