<section>
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <p>
                    <a href="https://bit.ly/techfestival19_mentorRegistration" target="_blank" class="btn btn-primary btn-xl page-scroll">Apply as Mentor</a>
                    <a href="https://bit.ly/techfestival19_volunteerRegistration" target="_blank" class="btn btn-primary btn-xl page-scroll">Apply as Volunteer</a>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfxg0jWdE5H7ickanDEYHIm8WB1ba6q4RQn1Zzl6De2sAyhUw/viewform" target="_blank" class="btn btn-primary btn-xl page-scroll">Ambassador Application</a>
                </p>
            </div>
        </div>
    </header>
</section>
