    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Schedule</h2>
                <span>Please note that the schedule is subject to change; check frequently for updates!</span>
                <hr class="primary">
            </div>
        </div>
<!-- Thursday -->
<div class="container">
	<h2>Thursday</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Time</th>
      <th scope="col">Event</th>
      <th scope="col">Room</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>6 PM</td>
      <td>Doors Open/Check In</td>
      <td>Lobby</td>
    </tr>
    <tr>
      <td>7 PM</td>
      <td>Panel</td>
      <td>TBD</td>
    </tr>
    <tr>
      <td>8 PM</td>
      <td>Cocktails</td>
      <td>TBD</td>
    </tr>
	<tr>
      <td>9 PM</td>
      <td>Doors Close</td>
      <td>TBD</td>
    </tr>
  </tbody>
</table>
<!-- Friday -->
<div class="container">
<h2>Friday</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Time</th>
      <th scope="col">Event</th>
      <th scope="col">Room</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>9:30 AM</td>
      <td>Doors Open/Check In</td>
      <td>Google Lobby</td>
    </tr>
    <tr>
      <td>10 AM</td>
      <td>Opening Ceremony</td>
      <td>Main Auditorium</td>
    </tr>
    <tr>
      <td>10:30 AM</td>
      <td>Keynote</td>
      <td>Main Auditorium</td>
    </tr>
	<tr>
      <td>11:00 AM</td>
      <td>Opening Ceremony Ends</td>
      <td>Main Auditorium</td>
    </tr>
    <tr>
      <td>11:15 AM</td>
      <td>ReactJS</td>
      <td>Room 1</td>
    </tr>
    <tr>
      <td>11:15 AM</td>
      <td>Butterfly One</td>
      <td>Room 2</td>
    </tr>
 	<tr>
 	  <td>11:15 AM</td>
 	  <td>Google Workshop</td>
 	  <td>Main Auditorium</td>
 	</tr>
 	<tr>
 	  <td>11:15 AM</td>
 	  <td>Intro to  HTML and CSS</td>
 	  <td>Room 3</td>
 	</tr>
 	<tr>
 	  <td>12:45 PM</td>
 	  <td>Lunch/Networking Panel</td>
 	  <td>Main Auditorium</td>
 	</tr>
 	<tr>
 	  <td>1:45 PM</td>
 	  <td>Cyber Security</td>
 	  <td>Room 1</td>
 	</tr>
 	<tr>
 	  <td>1:45 PM</td>
 	  <td>LinkedIn Workshop</td>
 	  <td>Room 2</td>
 	</tr>
 	<tr>
 	  <td>1:45 PM</td>
 	  <td>Google Workshop</td>
 	  <td>Main Auditorium</td>
 	</tr>
 	<tr>
 	  <td>1:45 PM</td>
 	  <td>Intro to AI</td>
 	  <td>Room 3</td>
 	</tr>
 	<tr>
 	  <td>2:30 PM</td>
 	  <td>Building REST APIs</td>
 	  <td>Room 1</td>
 	</tr>
 	<tr>
 	  <td>2:30 PM</td>
 	  <td>Git/Github</td>
 	  <td>Room 2</td>
 	</tr>
 	<tr>
 	  <td>2:30 PM</td>
 	  <td>Panel</td>
 	  <td>Main Auditorium</td>
 	</tr>
 	<tr>
 	  <td>2:30 PM</td>
 	  <td>NYC Data Science (Tentative)</td>
 	  <td>Room 3</td>
 	</tr>
 	<tr>
 	  <td>4 PM</td>
 	  <td>Wrap Up + See you tommorow !</td>
 	  <td></td>
 	</tr>
  </tbody>
</table>
</div>
<!-- Saturday -->

<div class="container">
<h2>Saturday</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Time</th>
      <th scope="col">Event</th>
      <th scope="col">Room</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>11 AM</td>
      <td>Doors Open</td>
      <td></td>
    </tr>
    <tr>
      <td>12 PM</td>
      <td>Opening Ceremony</td>
      <td>Dining Hall</td>
    </tr>
    <tr>
      <td>1 PM</td>
      <td>Lunch</td>
      <td>Armstrong Alley</td>
    </tr>
    <tr>
      <td>1 PM</td>
      <td>Team Formation/Hacking Begins</td>
      <td>Armstrong Alley</td>
    </tr>
    <tr>
      <td>2 PM</td>
      <td>Intro to Unity</td>
      <td>Rathaus Hall 201</td>
    </tr>
    <tr>
      <td>2 PM</td>
      <td>Intro to HTML and CSS</td>
      <td>Rathaus Hall 219</td>
    </tr>
    <tr>
      <td>2 PM</td>
      <td>Sponsored Workshop</td>
      <td>Powdermaker 204</td>
    </tr>
    <tr>
      <td>2 PM</td>
      <td>Sponsored Workshop</td>
      <td>Powdermaker 204</td>
    </tr>
    <tr>
      <td>3:15 PM</td>
      <td>Intro to Python</td>
      <td>Powdermaker 211</td>
    </tr>
    <tr>
      <td>3:15 PM</td>
      <td>Building Professional Relations</td>
      <td>Powdermaker 130</td>
    </tr>
    <tr>
      <td>3:15 PM</td>
      <td>Sponsored Workshop</td>
      <td>Powdermaker 132</td>
    </tr>
    <tr>
      <td>3:15 PM</td>
      <td>Sponsored Workshop</td>
      <td>Powdermaker 201</td>
    </tr>
    <tr>
      <td>4:30 PM</td>
      <td>Surprise</td>
      <td>Rathaus Hall 201</td>
    </tr>
    <tr>
      <td>4:30 PM</td>
      <td>Cyber Security</td>
      <td>Rathaus Hall 219</td>
    </tr>
    <tr>
      <td>4:30 PM</td>
      <td>Git and GitHub</td>
      <td>Powdermaker 204</td>
    </tr>
    <tr>
      <td>4:30 PM</td>
      <td>Intro to ChatBox</td>
      <td>Powdermaker 211</td>
    </tr>
    <tr>
      <td>5 PM</td>
      <td>Intro to SQL</td>
      <td>Powdermaker 130</td>
    </tr>
    <tr>
      <td>5 PM</td>
      <td>Intro to Entrepreneurship</td>
      <td>Powdermaker 132</td>
    </tr>
    <tr>
      <td>5 PM</td>
      <td>LinkedIn Workshop</td>
      <td>Powdermaker 201</td>
    </tr>
    <tr>
      <td>6 PM</td>
      <td>Dinner</td>
      <td></td>
    </tr>
    <tr>
      <td>7 PM</td>
      <td>Intro to HTML and CSS</td>
      <td>Rathaus Hall 201</td>
    </tr>
    <tr>
      <td>7:45 PM</td>
      <td>Intro to Python</td>
      <td>Rathaus Hall 219</td>
    </tr>
    <tr>
      <td>8 PM</td>
      <td>Surprise</td>
      <td>Powdermaker 204</td>
    </tr>
    <tr>
      <td>8:15 PM</td>
      <td>Activity: Mafia</td>
      <td>Powdermaker 211</td>
    </tr>
    <tr>
      <td>9 PM</td>
      <td>DevPost Workshop</td>
      <td>Powdermaker 130</td>
    </tr>
    <tr>
      <td>10:15 PM</td>
      <td>Activity Kahoot</td>
      <td>Armstrong Alley</td>
    </tr>
    <tr>
      <td>11 PM</td>
      <td>Yoga/Meditation</td>
      <td>Armstrong Alley</td>
    </tr>
    <tr>
      <td>12 AM</td>
      <td>Activity: FaceMasks</td>
      <td>Armstrong Alley</td>
    </tr>
	</tbody>
</table>
</div>

<!-- Sunday -->
<div class="container">
<h2>Sunday</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Time</th>
      <th scope="col">Event</th>
      <th scope="col">Room</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>7:30 AM</td>
      <td>Breakfast</td>
      <td>Armstrong Alley</td>
    </tr>
    <tr>
      <td>9 AM</td>
      <td>Pitching Workshop</td>
      <td>Patio Room</td>
    </tr>
    <tr>
      <td>11:30 AM</td>
      <td>Hacking Ends/Submission Due</td>
      <td>-------</td>
    </tr>
    <tr>
      <td>11:30 AM</td>
      <td>Lunch </td>
      <td>Armstrong Alley</td>
    </tr>
    <tr>
      <td>12 PM</td>
      <td>Judging(Science Fair Style)</td>
      <td>Armstrong Alley</td>
    </tr>
    <tr>
      <td>2 PM</td>
      <td>Presentation Ends</td>
      <td>Armstrong Alley</td>
    </tr>
    <tr>
      <td>3 PM</td>
      <td>Closing Ceremony</td>
      <td>Armstrong Alley</td>
    </tr>
  </tbody>
</table>
</div>
</div>
