<section id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Schedule</h2>
                <span>During the hackathon, please check the <a href="https://bit.ly/tf_agenda">Live Agenda</a> for updates on schedule!</span>
                <br><span><i class="fas fa-map-marker-alt"></i> <a href="https://www.qc.cuny.edu/about/directions/2d/Documents/qc_campus_map2d.pdf" target="_blank">Click here for Queens College campus map.</a></span>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h3>Saturday, April 6 at Queens College</h3>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Time</th>
                        <th scope="col">Event</th>
                        <th scope="col">Room</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>10:30 AM</td>
                        <td>Doors Open</td>
                        <td>Dining Hall</td>
                    </tr>
                    <tr>
                        <td>12:00 PM</td>
                        <td>Opening Ceremony</td>
                        <td>Armstrong Alley</td>
                    </tr>
                    <tr>
                        <td>1:00 PM</td>
                        <td>Food: Lunch</td>
                        <td>Armstrong Alley</td>
                    </tr>
                    <tr>
                        <td>1:00 PM</td>
                        <td>Team Formation / Hacking Begins</td>
                        <td>Armstrong Alley</td>
                    </tr>
                    <tr>
                        <td>2:00 PM</td>
                        <td>Workshop: Intro to Unity</td>
                        <td>Rathaus Hall 201</td>
                    </tr>
                    <tr>
                        <td>2:00 PM</td>
                        <td>Workshop: Intro to HTML & CSS</td>
                        <td>Powdermaker Hall 204</td>
                    </tr>
                    <tr>
                        <td>3:15 PM</td>
                        <td>Workshop: Intro to Python</td>
                        <td>Rathaus Hall 219</td>
                    </tr>
                    <tr>
                        <td>3:15 PM</td>
                        <td>Workshop: Building Professional Relations</td>
                        <td>Powdermaker Hall 130</td>
                    </tr>
                    <tr>
                        <td>3:15 PM</td>
                        <td>Workshop: Google Cloud Platforms</td>
                        <td>Powdermaker Hall 132</td>
                    </tr>
                    <tr>
                        <td>4:30 PM</td>
                        <td>Workshop: Hacking Humans</td>
                        <td>Rathaus Hall 219</td>
                    </tr>
                    <tr>
                        <td>4:30 PM</td>
                        <td>Workshop: Git/GitHub</td>
                        <td>Powdermaker Hall 204</td>
                    </tr>
                    <tr>
                        <td>4:30 PM</td>
                        <td>Workshop: Game Design</td>
                        <td>Rathaus Hall 201</td>
                    </tr>
                    <tr>
                        <td>4:30 PM</td>
                        <td>Food: Snacks</td>
                        <td>TBD</td>
                    </tr>
                    <tr>
                        <td>5:00 PM</td>
                        <td>Workshop: Intro to SQL</td>
                        <td>Powdermaker Hall 130</td>
                    </tr>
                    <tr>
                        <td>5:00 PM</td>
                        <td>Workshop: LinkedIn</td>
                        <td>Powdermaker Hall 132</td>
                    </tr>
                    <tr>
                        <td>5:00 PM</td>
                        <td>Activity: Yoga & Meditation</td>
                        <td>Rathaus Hall 211</td>
                    </tr>
                    <tr>
                        <td>6:30PM</td>
                        <td>Food: Dinner</td>
                        <td>Armstrong Alley</td>
                    </tr>
                    <tr>
                        <td>7:00 PM</td>
                        <td>Activity: Musical Chairs</td>
                        <td>Armstrong Alley</td>
                    </tr>
                    <tr>
                        <td>7:45 PM</td>
                        <td>Workshop: Intro to Python</td>
                        <td>Rathaus Hall 219</td>
                    </tr>
                    <tr>
                        <td>8:00 PM</td>
                        <td>Workshop: Sonic Pi</td>
                        <td>Powdermaker Hall 204</td>
                    </tr>
                    <tr>
                        <td>8:15 PM</td>
                        <td>Activity: Kahoot</td>
                        <td>Rathaus Hall 201</td>
                    </tr>
                    <tr>
                        <td>8:45 PM</td>
                        <td>Food: Ice Cream</td>
                        <td>TBD</td>
                    </tr>
                    <tr>
                        <td>9:00 PM</td>
                        <td>Workshop: DevPost</td>
                        <td>Powdermaker Hall 130</td>
                    </tr>
                    <tr>
                        <td>10:15 PM</td>
                        <td>Activity: Mafia</td>
                        <td>Armstrong Alley</td>
                    </tr>
                    <tr>
                        <td>11:00PM</td>
                        <td>LOCKDOWN BEGINS</td>
                        <td>N/A</td>
                    </tr>
                    <tr>
                        <td>11:00PM</td>
                        <td>Food: Midnight Dinner</td>
                        <td>TBD</td>
                    </tr>
                </tbody>
            </table>
            <span>* Length of workshops: 2 hours each</span>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <h3>Sunday, April 7 at Queens College</h3>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Time</th>
                        <th scope="col">Event</th>
                        <th scope="col">Room</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>7:00AM</td>
                        <td>LOCKDOWN ENDS</td>
                        <td>N/A</td>
                    </tr>
                    <tr>
                        <td>7:00 AM</td>
                        <td>Breakfast</td>
                        <td>Armstrong Alley</td>
                    </tr>
                    <tr>
                        <td>9:00 AM</td>
                        <td>Workshop: Pitching</td>
                        <td>Patio Room</td>
                    </tr>
                    <tr>
                        <td>11:00 AM</td>
                        <td>Hacking Ends / Submissions Due</td>
                        <td>N/A</td>
                    </tr>
                    <tr>
                        <td>11:30 AM</td>
                        <td>Food: Lunch</td>
                        <td>Patio Room</td>
                    </tr>
                    <tr>
                        <td>12:00 PM</td>
                        <td>Judging (Science Fair Style)</td>
                        <td>Armstrong Alley</td>
                    </tr>
                    <tr>
                        <td>2:00 PM</td>
                        <td>Presentation Ends</td>
                        <td>Armstrong Alley</td>
                    </tr>
                    <tr>
                        <td>2:00 PM</td>
                        <td>Presentation Ends</td>
                        <td>Armstrong Alley</td>
                    </tr>
                    <tr>
                        <td>3:15 PM</td>
                        <td>Closing Ceremony</td>
                        <td>Armstrong Alley</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4><a href="../#schedule">Click here for Tech Panel (Thursday) and Conference (Friday) schedule.</a></h4>
            </div>
        </div>
    </div>
</section>
