<!DOCTYPE html>
<section id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Schedule</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-users wow bounceIn text-primary"></i>
                    <h3>DAY 1: Thursday April 4</h3>
                    <p class="text-muted">Panels & Networking</p>

                    <style> .example-table  td { 
                    padding: 100px;  border: 1px dotted black; } </style> 
                    <table class="example-table">

                     <tr>
                     	<th>Time</th>

                     	<th>Event</th>

                     	

                    </tr>

                     <tr>
                     	<td>6:00pm</td>

                     	<td>Doors Open/ Check In</td>

                     	

                     </tr> 

                     <tr>
                     	<td>7:00pm</td>

                     	<td>Pannel	</td>

                     </tr>

                     <tr>
                     	<td>8:00pm</td>

                     	<td>Cocktails!	</td>

                     </tr>


                        <tr>
                     	<td>9:00pm</td>

                     	<td>Door Close	</td>

                     </tr>

                     	
                      </table> 


                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-microphone wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>DAY 2: Friday April 5</h3>
                    <p class="text-muted">Technology Conference</p>




                    <style> .example-table  td { 
                    padding: 40px;  border: 1px dotted black; } </style> 
                    <table class="example-table">

                     <tr>
                     	<th>Time</th>

                     	<th>Event</th>

                     	

                    </tr>

                     <tr>
                     	<td>9:30am</td>

                     	<td>Doors Open/ Check In</td>

                     	

                     </tr> 

                     <tr>
                     	<td>10:00am</td>

                     	<td>Opening Ceremony	</td>

                     </tr>

                     <tr>
                     	<td>10:30am</td>

                     	<td>Keynotes	</td>

                     </tr>


                        <tr>
                     	<td>11:00am</td>

                     	<td>Opening Ceremony Ends	</td>

                     </tr>

                     <tr>
                     	<td>11:15am</td>

                     	<td>React JS	</td>

                     </tr>

                     <tr>
                     	<td>11:15am</td>

                     	<td>Butterfly One	</td>

                     </tr>

                     <tr>
                     	<td>11:15am</td>

                     	<td>Google Workshop</td>

                     </tr>

                     <tr>
                     	<td>11:15pm</td>

                     	<td>Intro to HTML & CSS	</td>

                     </tr>

                     <tr>
                     	<td>12:45pm</td>

                     	<td>Lunch | Networking Panel</td>

                     </tr>

                     <tr>
                     	<td>1:45pm</td>

                     	<td>    Cybersecurity 	</td>

                     </tr>

                     <tr>
                     	<td>1:45pm</td>

                     	<td>Building Professional Relations	</td>

                     </tr>

                     <tr>
                     	<td>1:45pm</td>

                     	<td>Google Workshop</td>

                     </tr>

                     <tr>
                     	<td>1:45pm</td>

                     	<td>Game Design		</td>

                     </tr>

                     <tr>
                     	<td>2:30pm </td>

                     	<td>LinkedIn Workshop	</td>

                     </tr>

                     <tr>
                     	<td>2:30pm</td>

                     	<td>Git/Github</td>

                     </tr>
                     <tr>
                     	<td>2:30pm</td>

                     	<td>Git/Github</td>

                     </tr>

					<tr>
                     	<td>2:30pm</td>

                     	<td>Pannel      </td>

                     </tr>

					<tr>
                     	<td>2:30pm</td>

                     	<td>Intro to R</td>

                     </tr>

                     <tr>
                     	<td>4:00pm</td>

                     	<td>Wrap Up + See you tomorrow!
</td>

                     </tr>




                     	
                      </table> 


                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-laptop-code wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>DAY 3: Saturday April 6</h3>
                    <p class="text-muted">24-Hour Hackathon</p>

                    <style> .example-table  td { 
                    padding: 40px;  border: 1px dotted black; } </style> 
                    <table class="example-table">

                     <tr>
                     	<th>Time</th>

                     	<th>Event</th>

                     	

                    </tr>

                     <tr>
                     	<td>11:00am</td>

                     	<td>Doors Open/ Check In</td>

                     	

                     </tr> 

                     <tr>
                     	<td>12:00pm</td>

                     	<td>Opening Ceremony	</td>

                     </tr>

                     <tr>
                     	<td>1:00pm</td>

                     	<td> Lunch		</td>

                     </tr>


                        <tr>
                     	<td>1:00pm</td>

                     	<td>Team/Formation/Hacking Begins  		  	</td>

                     </tr>

                     <tr>
                     	<td>2:00pm</td>

                     	<td>Intro to Unity		</td>

                     </tr>

                     <tr>
                     	<td>2:00pm</td>

                     	<td>Intro to HTML & CSS	</td>

                     </tr>

                     <tr>
                     	<td>2:00pm</td>

                     	<td>Sponsored Workshop </td>

                     </tr>

                     <tr>
                     	<td>3:15pm</td>

                     	<td>Intro to Python	</td>

                     </tr>

                     <tr>
                     	<td>3:15pm</td>

                     	<td>Building Professional Relations </td>

                     </tr>

                     <tr>
                     	<td>3:15pm</td>

                     	<td>   Sponsor Workshop   	</td>

                     </tr>

                     <tr>
                     	<td>4:30pm</td>

                     	<td>Sponsor Workshop  	</td>

                     </tr>

                     <tr>
                     	<td>4:30pm</td>

                     	<td>Cybersecurity     </td>

                     </tr>

                     <tr>
                     	<td>4:30pm</td>

                     	<td>Git/Github	</td>

                     </tr>

                     <tr>
                     	<td>4:30pm </td>

                     	<td>Game Design		</td>

                     </tr>

                     <tr>
                     	<td>4:30pm</td>

                     	<td>Snacks	</td>

                     </tr>
                     <tr>
                     	<td>5:00pm  </td>

                     	<td>Intro to SQL  </td>

                     </tr>

					<tr>
                     	<td>5:00pm  </td>

                     	<td>LinkedIn Workshop       </td>

                     </tr>

					<tr>
                     	<td>6:30pm</td>

                     	<td>Dinner	</td>

                     </tr>

                     <tr>
                     	<td>7:00pm</td>

                     	<td>Intro to HTML & CSS
					</td>

                     </tr>

                     <tr>
                     	<td>7:45pm </td>

                     	<td>Intro to Python
					</td>

                     </tr>

                     <tr>
                     	<td>8:00pm</td>

                     	<td>Sonic Pi
					</td>

                     </tr>

                     <tr>
                     	<td>8:15pm</td>

                     	<td>Activity: Mafia
					</td>

                     </tr>

                     <tr>
                     	<td>9:00pm</td>

                     	<td>Ice cream
					</td>

                     </tr>

                     <tr>
                     	<td>9:00pm</td>

                     	<td>	DevPost Workshop
					</td>

                     </tr>

                     <tr>
                     	<td>10:15pm	</td>

                     	<td>Activity: Kahoot! 
					</td>

                     </tr>

                     <tr>
                     	<td>11:00pm</td>

                     	<td>Yoga/meditation  	
					</td>

                     </tr>

                     <tr>
                     	<td>11:00pm</td>

                     	<td>Midnight dinner 
					</td>

                     </tr>

                     <tr>
                     	<td>12:00am </td>

                     	<td>	Activity: Facemasks
					</td>

                     </tr>

                   
                      </table> 



                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-certificate wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>DAY 4: Sunday April 7</h3>
                    <p class="text-muted">Closing & Talent Showcase</p>

                     <style> .example-table  td { 
                    padding: 40px;  border: 1px dotted black; } </style> 
                    <table class="example-table">

                     <tr>
                     	<th>Time</th>

                     	<th>Event</th>

                     	

                    </tr>

                     <tr>
                     	<td>7:00am</td>

                     	<td>	Breakfast</td>

                     	

                     </tr> 

                     <tr>
                     	<td>9:00am	</td>

                     	<td>Pitching Workshop	</td>

                     </tr>

                     <tr>
                     	<td>11:00am</td>

                     	<td>Hacking Ends/Submissions Due 		</td>

                     </tr>


                        <tr>
                     	<td>11:30am</td>

                     	<td>Lunch		</td>

                     </tr>

                     	 <tr>
                     	<td>12:00pm</td>

                     	<td>Judging (Science Fair Style)	</td>

                     </tr>

                     	 <tr>
                     	<td>2:00pm</td>

                     	<td>Presentation Ends	</td>

                     </tr>

                     	 <tr>
                     	<td>3:00pm</td>

                     	<td>Closing Ceremony	</td>

                     </tr>

                     
                     	
                      </table> 

                </div>
            </div>
        </div>
    </div>
</section>
