<section class="bg-primary-dark" id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Sponsors</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="col-lg-6 text-center">
            <a href="https://careers.google.com/students/" target="_blank">
                <img src="/img/sponsor/Google.png" class="img-responsive" alt="Google">
            </a>
        </div>
        <div class="col-lg-6 text-center">
            <i class="fa fa-paper-plane fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            <p>One second...<br>More sponsors are on their way!</p>
        </div>
    </div>
</section>
