<section class="bg-primary-white" id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Sponsors</h2>
                <hr class="primary">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 text-center">
                <a href="https://careers.google.com/students/" target="_blank">
                    <img src="/img/sponsor/WIT_Logo_B_W.png" class="img-responsive" alt="Google">
                </a>
            </div>
            <div class="col-lg-6 text-center">
                <a href="https://careers.google.com/students/" target="_blank">
                    <img src="/img/sponsor/QC.png" class="img-responsive" alt="Google">
                </a>
            </div>
            <div class="col-lg-3 text-center">
                <a href="https://careers.google.com/students/" target="_blank">
                    <img src="/img/sponsor/SA.jpg" class="img-responsive" alt="Google">
                </a>
            </div>
        </div>

        <div class="row" style="padding-top: 30px;">
            <div class="col-lg-5 col-lg-offset-1 text-center">
                <a href="https://careers.google.com/students/" target="_blank">
                    <img src="/img/sponsor/logo_Google_FullColor_830x271px.svg" class="img-responsive" alt="Google">
                </a>
            </div>
            <div class="col-lg-5 text-center">
                <a href="https://jackpocket.com/careers/" target="_blank">
                    <img src="/img/sponsor/Jackpocket_Logo.png" class="img-responsive" alt="Jackpocket">
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 text-center">
                <a href="https://jackpocket.com/careers/" target="_blank">
                    <img src="/img/sponsor/EXP-ED-Logo.png" class="img-responsive" alt="Queens College Experiential Education">
                </a>
            </div>
            <div class="col-lg-3 text-center">
                <a href="https://jackpocket.com/careers/" target="_blank">
                    <img src="/img/sponsor/QCF.png" class="img-responsive" alt="Queens College Foundation">
                </a>
            </div>
            <div class="col-lg-3 text-center">
                <a href="https://jackpocket.com/careers/" target="_blank">
                    <img src="/img/sponsor/POQC.png" class="img-responsive" alt="Queens College Foundation">
                </a>
            </div>
            <div class="col-lg-3 text-center">
                <a href="https://jackpocket.com/careers/" target="_blank">
                    <img src="/img/sponsor/CareerServices_HireQC_CCEI_logo.jpg" class="img-responsive" alt="Queens College Foundation">
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="https://jackpocket.com/careers/" target="_blank">
                    <img src="/img/sponsor/Chartwells_Higher_Ed_Logo.jpg" class="img-responsive" alt="Queens College Experiential Education">
                </a>
            </div>
        </div>

        <div class="row">
            <br>
            <div class="col-lg-12 text-center">
                <i class="fa fa-paper-plane fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>One second...<br>More sponsors are on their way!</p>
            </div>
        </div>
    </div>
</section>
