<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Behind the Scene Staff</h2>
                <span class="hidden-xs hidden-sm hidden-md">Feel free to add them on LinkedIn, just hover over them!</span>
                <span class="hidden-lg hidden-xl">Feel free to add them on LinkedIn, just tap on them!</span>
                <hr class="primary">
            </div>
        </div>
    </div>

    <div class="container-fluid team-gallery">
        <div class="row no-gutter">

            <!-- Leadership -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h3 class="section-heading team-title">Leadership</h3>
                        <hr class="primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 portfolio-box wow bounceIn">
                        <img src="/img/Bitmoji/Madan_Charusmita.png" class="img-responsive" alt="Charusmita Madan">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="teammate-name">
                                    Charusmita Madan
                                </div>
                                <div class="teammate-category text-faded">
                                    Chief Troublemaker
                                    <br>
                                    <a href="https://linkedin.com/in/mcharusmita/" target="_blank">
                                        LinkedIn
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 portfolio-box wow bounceIn" data-wow-delay=".2s">
                        <img src="/img/Bitmoji/Zias_Margarita.png" class="img-responsive" alt="Margarita Zias">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="teammate-name">
                                    Margarita Zias
                                </div>
                                <div class="teammate-category text-faded">
                                    Sous Director of First Impressions
                                    <br>
                                    <a href="https://www.linkedin.com/in/margarita-zias-5096a671/" target="_blank">
                                        LinkedIn
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Marketing and Outreach -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12 text-center">
                        <h3 class="section-heading team-title">Marketing and Outreach</h3>
                        <hr class="primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 portfolio-box">
                        <img src="/img/Bitmoji/Mahin_Maria.png" class="img-responsive" alt="Maria Mahin">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="teammate-name">
                                    Maria Mahin
                                </div>
                                <div class="teammate-category text-faded">
                                    Director of Storytelling
                                    <br>
                                    <a href="https://www.linkedin.com/in/maria-mahin/" target="_blank">
                                        LinkedIn
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 portfolio-box">
                        <img src="/img/Bitmoji/Pandya_Mihir.png" class="img-responsive" alt="Mihir Pandya">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="teammate-name">
                                    Mihir Pandya
                                </div>
                                <div class="teammate-category text-faded">
                                    Director of Storytelling
                                    <br>
                                    <a href="https://www.linkedin.com/in/mihirkpandya/" target="_blank">
                                        LinkedIn
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 portfolio-box">
                        <img src="/img/Bitmoji/Nafiz_Shara.png" class="img-responsive" alt="Shara Nafiz">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="teammate-name">
                                    Shara Nafiz
                                </div>
                                <div class="teammate-category text-faded">
                                    Director of Storytelling
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 portfolio-box">
                        <img src="/img/Bitmoji/Khan_Aimen.png" class="img-responsive" alt="Akampreet Kaur">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="teammate-name">
                                    Aimen Khan
                                </div>
                                <div class="teammate-category text-faded">
                                    Ambassdor of Buzz
                                    <br>
                                    <a href="https://www.linkedin.com/in/aimen-khan-93b912113/" target="_blank">
                                        LinkedIn
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 portfolio-box">
                        <img src="/img/Bitmoji/Kaur_Akampreet.png" class="img-responsive" alt="Akampreet Kaur">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="teammate-name">
                                    Akampreet Kaur
                                </div>
                                <div class="teammate-category text-faded">
                                    Ambassdor of Buzz
                                    <br>
                                    <a href="https://www.linkedin.com/in/akampreet-kaur/" target="_blank">
                                        LinkedIn
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 portfolio-box">
                        <img src="/img/Bitmoji/Sultana_Farifta.jpg" class="img-responsive" alt="Farifta Sultana">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="teammate-name">
                                    Farifta Sultana
                                </div>
                                <div class="teammate-category text-faded">
                                    Ambassdor of Buzz
                                    <br>
                                    <a href="https://www.linkedin.com/in/farifta-sultana-75075a162/" target="_blank">
                                        LinkedIn
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 portfolio-box">
                        <img src="/img/Bitmoji/Parikh_Krunal.png" class="img-responsive" alt="Krunal Parikh">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="teammate-name">
                                    Krunal Parikh
                                </div>
                                <div class="teammate-category text-faded">
                                    Ambassdor of Buzz
                                    <br>
                                    <a href="https://www.linkedin.com/in/krunal-p-25801511a">
                                        LinkedIn
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 portfolio-box">
                        <img src="/img/Bitmoji/Harster_Melanie.jpg" class="img-responsive" alt="Melanie Harster">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="teammate-name">
                                    Melanie Harster
                                </div>
                                <div class="teammate-category text-faded">
                                    Ambassdor of Buzz
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 portfolio-box">
                        <img src="/img/Bitmoji/Lei_Ming.png" class="img-responsive" alt="Ming Lei">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="teammate-name">
                                    Ming Lei
                                </div>
                                <div class="teammate-category text-faded">
                                    Ambassdor of Buzz
                                    <br>
                                    <a href="https://www.linkedin.com/in/ming-lei/" target="_blank">
                                        LinkedIn
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Sponsorship and Finance -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h3 class="section-heading team-title">Sponsorship and Finance</h3>
                        <hr class="primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 portfolio-box">
                        <img src="/img/Bitmoji/Yastrab_Tamar.png" class="img-responsive" alt="Tamar Yastrab">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="teammate-name">
                                    Tamar Yastrab
                                </div>
                                <div class="teammate-category text-faded">
                                    Director of Bean-Counting
                                    <br>
                                    <a href="https://www.linkedin.com/in/tamar-yastrab-646733168/" target="_blank">
                                        LinkedIn
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 portfolio-box">
                        <img src="/img/Bitmoji/Nafiz_Shisan.png" class="img-responsive" alt="Shisan Nafiz">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="teammate-name">
                                    Shisan Nafiz
                                </div>
                                <div class="teammate-category text-faded">
                                    Director of Bean-Counting
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 portfolio-box">
                        <img src="/img/Bitmoji/Khan_Ariba.png" class="img-responsive" alt="Ariba Khan">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="teammate-name">
                                    Ariba Khan
                                </div>
                                <div class="teammate-category text-faded">
                                    Accounting Ninja
                                    <br>
                                    <a href="https://www.linkedin.com/in/ariba-khan-b4b939125/" target="_blank">
                                        LinkedIn
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 portfolio-box">
                        <img src="/img/Bitmoji/Khan_Ashraf.png" class="img-responsive" alt="Ashraf Khan">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="teammate-name">
                                    Ashraf Khan
                                </div>
                                <div class="teammate-category text-faded">
                                    Accounting Ninja
                                    <br>
                                    <a href="https://linkedin.com/in/ashraf-a-khan" target="_blank">
                                        LinkedIn
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 portfolio-box">
                        <img src="/img/Bitmoji/Ramos_Angela.png" class="img-responsive" alt="Angela Ramos">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="teammate-name">
                                    Angela Ramos
                                </div>
                                <div class="teammate-category text-faded">
                                    Accounting Ninja
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 portfolio-box">
                        <img src="/img/Bitmoji/Pandya_Mihir.png" class="img-responsive" alt="Mihir Pandya">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="teammate-name">
                                    Mihir Pandya
                                </div>
                                <div class="teammate-category text-faded">
                                    Accounting Ninja
                                    <br>
                                    <a href="https://www.linkedin.com/in/mihirkpandya/" target="_blank">
                                        LinkedIn
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 portfolio-box">
                        <img src="/img/Bitmoji/Nafiz_Shara.png" class="img-responsive" alt="Shara Nafiz">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="teammate-name">
                                    Shara Nafiz
                                </div>
                                <div class="teammate-category text-faded">
                                    Accounting Ninja
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Logistics and Programming -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h3 class="section-heading team-title">Logistics and Programming</h3>
                        <hr class="primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 portfolio-box">
                        <img src="/img/Bitmoji/Raza_Muhammad.png" class="img-responsive" alt="Muhammad Raza">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="teammate-name">
                                    Muhammad Raza
                                </div>
                                <div class="teammate-category text-faded">
                                    Project Meanies
                                    <br>
                                    <a href="https://www.linkedin.com/in/muhammad-raza-07/" target="_blank">
                                        LinkedIn
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 portfolio-box">
                        <img src="/img/Bitmoji/Perez_Sheyla.png" class="img-responsive" alt="Sheyla Perez">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="teammate-name">
                                    Sheyla Perez
                                </div>
                                <div class="teammate-category text-faded">
                                    Project Meanies
                                    <br>
                                    <a href="https://www.linkedin.com/in/sheyla-perez-121b41156/" target="_blank">
                                        LinkedIn
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 portfolio-box">
                        <img src="/img/Bitmoji/Khan_Ariba.png" class="img-responsive" alt="Ariba Khan">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="teammate-name">
                                    Ariba Khan
                                </div>
                                <div class="teammate-category text-faded">
                                    Adventure Management Operator
                                    <br>
                                    <a href="https://www.linkedin.com/in/ariba-khan-b4b939125/" target="_blank">
                                        LinkedIn
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 portfolio-box">
                          <img src="/img/Bitmoji/Bhuiyan_Shara.png" class="img-responsive" alt="Shara Bhuiyan">
                          <div class="portfolio-box-caption">
                              <div class="portfolio-box-caption-content">
                                  <div class="teammate-name">
                                      Shara Bhuiyan
                                  </div>
                                  <div class="teammate-category text-faded">
                                      Adventure Management Operator
                                      <br>
                                      <a href="https://www.linkedin.com/in/shara-bhuiyan-64a233175/" target="_blank">
                                          LinkedIn
                                      </a>
                                  </div>
                              </div>
                          </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 portfolio-box">
                        <img src="/img/Bitmoji/Parikh_Krunal.png" class="img-responsive" alt="Krunal Parikh">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="teammate-name">
                                    Krunal Parikh
                                </div>
                                <div class="teammate-category text-faded">
                                    Adventure Management Operator
                                    <br>
                                    <a href="https://www.linkedin.com/in/krunal-p-25801511a" target="_blank">
                                        LinkedIn
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 portfolio-box">
                          <img src="/img/Bitmoji/Xie_Vincent.png" class="img-responsive" alt="Vincent Xie">
                          <div class="portfolio-box-caption">
                              <div class="portfolio-box-caption-content">
                                  <div class="teammate-name">
                                      Vincent Xie
                                  </div>
                                  <div class="teammate-category text-faded">
                                      Adventure Management Operator
                                  </div>
                              </div>
                          </div>
                    </div>
                </div>
            </div>

            <!-- Technology and Operations -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h3 class="section-heading team-title">Technology and Operations</h3>
                        <hr class="primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 portfolio-box">
                        <img src="/img/Bitmoji/Lei_Ming.png" class="img-responsive" alt="Ming Lei">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="teammate-name">
                                    Ming Lei
                                </div>
                                <div class="teammate-category text-faded">
                                    Software Ninajaneers
                                    <br>
                                    <a href="https://www.linkedin.com/in/ming-lei/" target="_blank">
                                        LinkedIn
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 portfolio-box">
                        <img src="/img/Bitmoji/Raji-Bolaji_Pelumi.png" class="img-responsive" alt="Pelumi Raji-Bolaji">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="teammate-name">
                                    Pelumi Raji-Bolaji
                                </div>
                                <div class="teammate-category text-faded">
                                    Software Ninajaneers
                                    <br>
                                    <a href="http://www.linkedin.com/in/oluwapelumi-raji-bolaji-687733168" target="_blank">
                                        LinkedIn
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 portfolio-box">
                        <img src="/img/Bitmoji/Tenf_Alexander.png" class="img-responsive" alt="Alexander Tenf">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="teammate-name">
                                    Alexander Tenf
                                </div>
                                <div class="teammate-category text-faded">
                                    Crayon Evangelist
                                    <br>
                                    <a href="https://www.linkedin.com/in/alexander-t-6a8a0048" target="_blank">
                                        LinkedIn
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 portfolio-box">
                        <img src="/img/Bitmoji/Bhuiyan_Shara.png" class="img-responsive" alt="Shara Bhuiyan">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="teammate-name">
                                  Shara Bhuiyan
                                </div>
                                <div class="teammate-category text-faded">
                                    Crayon Evangelist
                                    <br>
                                    <a href="https://www.linkedin.com/in/shara-bhuiyan-64a233175/" target="_blank">
                                        LinkedIn
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
