
<style>
#team {
  margin-right: 100px;
  margin-left: 100px;

}
</style>

<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Tech Festival Team</h2>
                <span class="hidden-xs hidden-sm hidden-md">Hover on any Bitmoji to reveal their identity.</span>
                <span class="hidden-lg hidden-xl">Tap on any Bitmoji to reveal their identity.</span>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Chairs</h2>
                <!-- <span class="hidden-xs hidden-sm hidden-md">Hover on any Bitmoji to reveal their identity.</span>
                <span class="hidden-lg hidden-xl">Tap on any Bitmoji to reveal their identity.</span> -->
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
        <!-- Chairs -->
      	<div>
            <div class="col-lg-4 col-sm-6 portfolio-box">
                <img src="/img/Bitmoji/Madan_Charusmita.png" class="img-responsive" alt="Charusmita Madan">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="teammate-name">
                            Charusmita Madan
                        </div>
                        <div class="teammate-category text-faded">
                            Chief Troublemaker
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-box">
                <img src="/img/Bitmoji/Javed_Aqsa.png" class="img-responsive" alt="Aqsa Javed">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="teammate-name">
                            Aqsa Javed
                        </div>
                        <div class="teammate-category text-faded">
                            Director of First Impressions <br> <a href="https://www.linkedin.com/in/AqsaJaved41/">LinkedIn</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-box">
                <img src="/img/Bitmoji/Zias_Margarita.png" class="img-responsive" alt="Margarita Zias">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="teammate-name">
                            Margarita Zias
                        </div>
                        <div class="teammate-category text-faded">
                            Sous Director of First Impressions <br> <a href = "https://www.linkedin.com/in/margarita-zias-5096a671/">LinkedIn</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- Marketing and outreach TEAM -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading"><br><br><br>Marketing and Outreach</h2>
            <!-- <span class="hidden-xs hidden-sm hidden-md">Hover on any Bitmoji to reveal their identity.</span>
            <span class="hidden-lg hidden-xl">Tap on any Bitmoji to reveal their identity.</span> -->
            <hr class="primary">
        </div>
    </div>
</div>
<!-- Bishant mihir akampreet farifta melanie maria ming shara  -->

<div class="col-lg-4 col-sm-6 portfolio-box">
    <img src="/img/Bitmoji/Tripathi_Bishant.png" class="img-responsive" alt="Bishant Tripathi">
    <div class="portfolio-box-caption">
        <div class="portfolio-box-caption-content">
            <div class="teammate-name">
                Bishant Tripathi
            </div>
            <div class="teammate-category text-faded">
                Director of Storytelling <br> <a href="https://www.linkedin.com/in/bishant-tripathi-b58963b8/">LinkedIn</a>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4 col-sm-6 portfolio-box">
    <img src="/img/Bitmoji/Pandya_Mihir.png" class="img-responsive" alt="Mihir Pandya">
    <div class="portfolio-box-caption">
        <div class="portfolio-box-caption-content">
            <div class="teammate-name">
                Mihir Pandya
            </div>
            <div class="teammate-category text-faded">
                Director of Storytelling <br> <a href="https://www.linkedin.com/in/mihirkpandya/">LinkedIn</a>
            </div>
        </div>
    </div>
</div>


<div class="col-lg-4 col-sm-6 portfolio-box">
    <img src="/img/Bitmoji/Kaur_Akampreet.png" class="img-responsive" alt="Akampreet Kaur">
    <div class="portfolio-box-caption">
        <div class="portfolio-box-caption-content">
            <div class="teammate-name">
                Akampreet Kaur
            </div>
            <div class="teammate-category text-faded">
                Ambassdor of Buzz
            </div>
        </div>
    </div>
</div>


<div class="col-lg-4 col-sm-6 portfolio-box">
    <img src="/img/Bitmoji/Harster_Melanie.png" class="img-responsive" alt="Melanie Harster">
    <div class="portfolio-box-caption">
        <div class="portfolio-box-caption-content">
            <div class="teammate-name">
                Melanie Harster
            </div>
            <div class="teammate-category text-faded">
                Ambassdor of Buzz
            </div>
        </div>
    </div>
</div>


<div class="col-lg-4 col-sm-6 portfolio-box">
    <img src="/img/Bitmoji/Sultana_Farifta.png" class="img-responsive" alt="Farifta Sultana">
    <div class="portfolio-box-caption">
        <div class="portfolio-box-caption-content">
            <div class="teammate-name">
                Farifta Sultana
            </div>
            <div class="teammate-category text-faded">
                Ambassdor of Buzz <br> <a href = "https://www.linkedin.com/in/farifta-sultana-75075a162/"> LinkedIn </a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-sm-6 portfolio-box">
    <img src="/img/Bitmoji/Nafiz_Shara.png" class="img-responsive" alt="Shara Nafiz">
    <div class="portfolio-box-caption">
        <div class="portfolio-box-caption-content">
            <div class="teammate-name">
                Shara Nafiz
            </div>
            <div class="teammate-category text-faded">
                Ambassdor of Buzz
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-sm-6 portfolio-box">
    <img src="/img/Bitmoji/Mahin_Maria.png" class="img-responsive" alt="Maria Mahin">
    <div class="portfolio-box-caption">
        <div class="portfolio-box-caption-content">
            <div class="teammate-name">
                Maria Mahin
            </div>
            <div class="teammate-category text-faded">
                Ambassdor of Buzz <br> <a href = "https://www.linkedin.com/in/maria-mahin/">LinkedIn</a>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4 col-sm-6 portfolio-box">
    <img src="/img/Bitmoji/Zheng_Shuyao.png" class="img-responsive" alt="Shuyao Zheng">
    <div class="portfolio-box-caption">
        <div class="portfolio-box-caption-content">
            <div class="teammate-name">
                Shuyao Zheng
            </div>
            <div class="teammate-category text-faded">
                Ambassdor of Buzz
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-sm-6 portfolio-box">
    <img src="/img/Bitmoji/Lei_Ming.png" class="img-responsive" alt="Ming Lei">
    <div class="portfolio-box-caption">
        <div class="portfolio-box-caption-content">
            <div class="teammate-name">
                Ming Lei
            </div>
            <div class="teammate-category text-faded">
                Ambassdor of Buzz  <br> <a href="https://www.linkedin.com/in/ming-lei/">LinkedIn</a>
            </div>
        </div>
    </div>
</div>
<!--Marketing and Outreach TEAM ends here -->

<!-- Sponsorship and Finance TEAM -->
<!-- Tamar, Shisan, Ariba Ashraf, Angela, Melanie, Mihir, Shara -->
<div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading"><br><br><br>Sponsorship and Finance</h2>
            <!-- <span class="hidden-xs hidden-sm hidden-md">Hover on any Bitmoji to reveal their identity.</span>
            <span class="hidden-lg hidden-xl">Tap on any Bitmoji to reveal their identity.</span> -->
            <hr class="primary">
        </div>
    </div>
</div>


<div class="col-lg-4 col-sm-6 portfolio-box">
    <img src="/img/Bitmoji/Yastrab_Tamar.png" class="img-responsive" alt="Tamar Yastrab">
    <div class="portfolio-box-caption">
        <div class="portfolio-box-caption-content">
            <div class="teammate-name">
                Tamar Yastrab
            </div>
            <div class="teammate-category text-faded">
                Director of Bean-Counting <br><a href ="https://www.linkedin.com/in/tamar-yastrab-646733168/">LinkedIn</a>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4 col-sm-6 portfolio-box">
    <img src="/img/Bitmoji/Nafiz_Shisan.png" class="img-responsive" alt="Shisan Nafiz">
    <div class="portfolio-box-caption">
        <div class="portfolio-box-caption-content">
            <div class="teammate-name">
                Shisan Nafiz
            </div>
            <div class="teammate-category text-faded">
                Director of Bean-Counting
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-sm-6 portfolio-box">
    <img src="/img/Bitmoji/Khan_Ariba.png" class="img-responsive" alt="Ariba Khan">
    <div class="portfolio-box-caption">
        <div class="portfolio-box-caption-content">
            <div class="teammate-name">
                Ariba Khan
            </div>
            <div class="teammate-category text-faded">
                Accounting Ninja <br> <a href = "https://www.linkedin.com/in/ariba-khan-b4b939125/"> LinkedIn </a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-sm-6 portfolio-box">
    <img src="/img/Bitmoji/Angela_Ramos.png" class="img-responsive" alt="Angela Ramos">
    <div class="portfolio-box-caption">
        <div class="portfolio-box-caption-content">
            <div class="teammate-name">
                Ariba Khan
            </div>
            <div class="teammate-category text-faded">
                Accounting Ninja
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-sm-6 portfolio-box">
    <img src="/img/Bitmoji/Khan_Ashraf.png" class="img-responsive" alt="Ashraf Khan">
    <div class="portfolio-box-caption">
        <div class="portfolio-box-caption-content">
            <div class="teammate-name">
                Ashraf Khan
            </div>
            <div class="teammate-category text-faded">
                Accounting Ninja <br> <a href="http://linkedin.com/in/ashraf-a-khan">LinkedIn</a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-sm-6 portfolio-box">
    <img src="/img/Bitmoji/Pandya_Mihir.png" class="img-responsive" alt="Mihir Pandya">
    <div class="portfolio-box-caption">
        <div class="portfolio-box-caption-content">
            <div class="teammate-name">
                Mihir Pandya
            </div>
            <div class="teammate-category text-faded">
                Accounting Ninja <br> <a href="https://www.linkedin.com/in/mihirkpandya/">LinkedIn</a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-sm-6 portfolio-box">
    <img src="/img/Bitmoji/Nafiz_Shara.png" class="img-responsive" alt="Shara Nafiz">
    <div class="portfolio-box-caption">
        <div class="portfolio-box-caption-content">
            <div class="teammate-name">
                Shara Nafiz
            </div>
            <div class="teammate-category text-faded">
                Accounting Ninja
            </div>
        </div>
    </div>
</div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading"><br><br><br>Logistics and Programming</h2>
            <!-- <span class="hidden-xs hidden-sm hidden-md">Hover on any Bitmoji to reveal their identity.</span>
            <span class="hidden-lg hidden-xl">Tap on any Bitmoji to reveal their identity.</span> -->
            <hr class="primary">
        </div>
    </div>
</div>
            <div class="col-lg-4 col-sm-6 portfolio-box">
                <img src="/img/Bitmoji/Raza_Muhammad.png" class="img-responsive" alt="Muhammad Raza">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="teammate-name">
                            Muhammad Raza
                        </div>
                        <div class="teammate-category text-faded">
                            Project Meanies <br><a href = "https://www.linkedin.com/in/muhammad-raza-07/"> LinkedIn</a>
                        </div>
                    </div>
                </div>
            </div>

             <div class="col-lg-4 col-sm-6 portfolio-box">
                <img src="/img/Bitmoji/Perez_Sheyla.png" class="img-responsive" alt="Sheyla Perez">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="teammate-name">
                            Sheyla Perez
                        </div>
                        <div class="teammate-category text-faded">
                            Project Meanies <br> <a href = "https://www.linkedin.com/in/sheyla-perez-121b41156/"> LinkedIn</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-box">
                <img src="/img/Bitmoji/Khan_Ariba.png" class="img-responsive" alt="Pelumi Raji-Bolaji">
                <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="teammate-name">
                            Ariba Khan
                        </div>
                        <div class="teammate-category text-faded">
                            Adventure Management Operator <br> <a href="https://www.linkedin.com/in/ariba-khan-b4b939125/">LinkedIn </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 portfolio-box">
                  <img src="/img/Bitmoji/Bhuiyan_Shara.png" class="img-responsive" alt="Shara Bhuiyan">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="teammate-name">
                              Shara Bhuiyan
                          </div>
                          <div class="teammate-category text-faded">
                              Adventure Management Operator <br> <a href = "https://www.linkedin.com/in/shara-bhuiyan-64a233175/">LinkedIn </a>
                          </div>
                      </div>
                  </div>
            </div>
            <div class="col-lg-4 col-sm-6 portfolio-box">
                  <img src="/img/Bitmoji/Xie_Vincent.png" class="img-responsive" alt="Vincent Xie">
                  <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                          <div class="teammate-name">
                              Vincent Xie
                          </div>
                          <div class="teammate-category text-faded">
                              Adventure Management Operator
                          </div>
                      </div>
                  </div>
            </div>

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading"><br><br><br>Technology and Operations</h2>
            <!-- <span class="hidden-xs hidden-sm hidden-md">Hover on any Bitmoji to reveal their identity.</span>
            <span class="hidden-lg hidden-xl">Tap on any Bitmoji to reveal their identity.</span> -->
            <hr class="primary">
        </div>
    </div>
</div>

<!-- Ming, Pelumi, Ashraf, Muhammad, Shara, Krunal, Alec -->
<div class="col-lg-4 col-sm-6 portfolio-box">
    <img src="/img/Bitmoji/Lei_Ming.png" class="img-responsive" alt="Ming Lei">
    <div class="portfolio-box-caption">
        <div class="portfolio-box-caption-content">
            <div class="teammate-name">
                Ming Lei
            </div>
            <div class="teammate-category text-faded">
                Software Ninajaneers <br> <a href="https://www.linkedin.com/in/ming-lei/">LinkedIn</a>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-4 col-sm-6 portfolio-box">
    <img src="/img/Bitmoji/Raji-Bolaji_Pelumi.png" class="img-responsive" alt="Pelumi Raji-Bolaji">
    <div class="portfolio-box-caption">
        <div class="portfolio-box-caption-content">
            <div class="teammate-name">
                Pelumi Raji-Bolaji
            </div>
            <div class="teammate-category text-faded">
                Software Ninajaneers <br> <a href= "http://linkedin.com/in/oluwapelumi-raji-bolaji-687733168"> LinkedIn </a>
            </div>
        </div>
    </div>
</div>
            <!-- Teammates -->
<div class="col-lg-4 col-sm-6 portfolio-box">
    <img src="/img/Bitmoji/Khan_Ashraf.png" class="img-responsive" alt="Ashraf Khan">
    <div class="portfolio-box-caption">
        <div class="portfolio-box-caption-content">
            <div class="teammate-name">
                Ashraf Khan
            </div>
            <div class="teammate-category text-faded">
                Crayon Evangelist<br> <a href="http://linkedin.com/in/ashraf-a-khan">LinkedIn</a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-sm-6 portfolio-box">
    <img src="/img/Bitmoji/Raza_Muhammad.png" class="img-responsive" alt="Muhammad Raza">
    <div class="portfolio-box-caption">
        <div class="portfolio-box-caption-content">
            <div class="teammate-name">
                Muhammad Raza
            </div>
            <div class="teammate-category text-faded">
                Crayon Evangelist <br><a href= "https://www.linkedin.com/in/muhammad-raza-07/"> LinkedIn </a>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-sm-6 portfolio-box">
      <img src="/img/Bitmoji/Bhuiyan_Shara.png" class="img-responsive" alt="Shara Bhuiyan">
      <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
              <div class="teammate-name">
                Shara Bhuiyan
              </div>
              <div class="teammate-category text-faded">
                Crayon Evangelist <br> <a href = "https://www.linkedin.com/in/shara-bhuiyan-64a233175/">LinkedIn</a>
              </div>
          </div>
      </div>
</div>
    <div class="col-lg-4 col-sm-6 portfolio-box">
          <img src="/img/Bitmoji/Parikh_Krunal.png" class="img-responsive" alt="Krunal Parikh">
          <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                  <div class="teammate-name">
                    Krunal Parikh
                  </div>
                  <div class="teammate-category text-faded">
                    Crayon Evangelist <br> <a href = "https://www.linkedin.com/in/krunal-p-25801511a">LinkedIn</a>
                  </div>
              </div>
          </div>
    </div>
</div>
</div>
</section>
