<section id="themes">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Themes</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-heart wow bounceIn text-primary"></i>
                    <h3>Healthcare</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-chalkboard-teacher wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Women in STEM</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-book wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Education</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-city wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Community</h3>
                </div>
            </div>
        </div>
    </div>
</section>
